.ddsmoothmenu{
font:bold 13px/39px Helvetica Narrow, sans-serif;
color:#d5eefe; 	
background: #414141; /*background of menu bar (default state)*/
width: 100%;
}

.ddsmoothmenu ul{
z-index:0;
margin: 0;
padding: 0;
list-style-type: none;

}

/*Top level list items*/
.ddsmoothmenu ul li{
position: relative;
display: inline;
float: left;

}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
display: block;
/*background: #414141;*/ /*background of menu items (default state)*/
color:#d5eefe; 
padding: 0px 13px;
/*border-right: 1px solid #778;*/
text-decoration: none;

}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}
.myaccount
{
    color:#FB0000;
}
.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
color:#d5eefe; 
}

.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background:url(../images/hoverbg.gif) 0 1px repeat-x; 
color:#fffede;
}

.ddsmoothmenu ul li a:hover{
background:url(../images/hoverbg.gif) 0 1px repeat-x;
/*background:#53a224 ;*//*url(../images/hoverbg.gif) 0 0 repeat-x background of menu items during onmouseover (hover state)*/
color:#fffede;
}
	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
position: absolute;
left: 0;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden;
background-color:#1781a4;
width:188px;
padding-bottom:20px;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
width:166px;
margin-left:9px;
float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
font: normal 13px Arial, Helvetica, sans-serif;
width: 154px; /*width of sub menus*/
padding: 5px;
margin: 0;
border-top-width: 0;
padding-left:10px;
/*border-bottom: 1px solid gray;*/
}
.ddsmoothmenu ul li ul li a:hover{
background-color:#105A73; color: #fffede;
 display:block; 
 } 
 
/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

/*.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}*/

/*.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}*/

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
/*background:#e1f4ff;*/
}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
opacity: 0.8;
}

.ddsmoothmenu ul li a.selected1{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background:url(../images/hoverbg.gif) 0 1px repeat-x; 
color:#fffede;
}