*{padding:0; margin:0;
}
/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}
 
.accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:0px;
    background: lightblue/*#f7f7f7*/;
}
 
/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    padding:3px;
    display:inline-block;
    border-bottom:1px solid #1a1a1a;
     background: #363670 url(../img/button_topnavi_selected.jpg) repeat-x top; 
    /*background:#333;*/
    transition:all linear 0.15s;
    /* Type */
    font-size:1.200em;
    text-shadow:0px 1px 0px #1a1a1a;
    color: black/*#fff*/;
    text-decoration:none;
}
 
.accordion-section-title.active, .accordion-section-title:hover {
    background: #363670 url(../img/button_topnavi_selected.jpg) repeat-x top; 
    /*background:#4c4c4c;*/
    /* Type */
    text-decoration:none;
}
 
.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}
 
/*----- Section Content -----*/
.accordion-section-content {
    padding:0px;
    display:none;
}