/* CSS Document */

html {
	 width:100%;
}

body
{
    background-color: #ACACAC;
    text-align: center;
    font-family: 'Segoe UI' , 'Lucida Sans' ,Verdana,Arial, Helvetica, sans-serif,Verdana, sans-serif;
    font-size: 11px;
    color: #757575;
    background-image: url('../img/bg_body.jpg');
    background-repeat: repeat-x;
}

#wrapper {
	width:1050px;
	margin:0 auto;
	text-align:left;
}

#header {
	float:left;
	width:1050px;
	height:162px;
	background-color:#ffffff;
}

#logobox {
	display:inline;
	float:left;
	width:320px;
	height:150px;
	margin:6px;
	background-image:url('../img/bg_logobox.jpg');
	background-repeat:no-repeat;
	text-align:right;
}
.logo{
    margin:0px;
    margin-top:20px;
    margin-left:10px;
    float:left;
}
.logoText{
    margin:0px;
    margin-top:20px;
    float:left;
}
#logobox h1 {
	padding:0px;
	margin:0px;
	margin-top:20px;
	margin-right:20px;
	font-size:25px;
	color:#5baeae;
}

#logobox h2 {
	padding:0px;
	margin:0px;
	/*margin-top:-4px;*/
	margin-right:20px;
	font-size:13px;
	color:#8d8d8d;
}

#headimg {
	display:inline;
	float:left;
	width:662px;
	height:150px;
	margin-left:30px;
	background-image:url('../img/seashippingservices.jpg');
	background-repeat:no-repeat;
    margin-right: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
}

#topnavi
{
    display: inline;
    float: left;
    width: 1050px;
    height: 34px;
    background-image: url('../img/bg_topnavi.jpg');
    background-repeat: no-repeat;
    background-color: #FFFFFF;
}
.logout
{
    background: url(../img/logout.png) no-repeat left center;
     width:30px; height:24px;padding-left:25px; padding-top:7px; text-align:right;float:right;
}
#topnavi ul {
	display:inline;
	list-style-type:none;
	padding:0px;
	margin:6px;
	margin-top:0px;
}

#topnavi ul li {
	float:left;
	height:28px;
	background-image:url('../img/button_topnavi_norm.jpg');
	background-repeat:no-repeat;
	line-height:28px;
}

#topnavi ul li.selected {
	float:left;
	height:28px;
	background-image:url('../img/button_topnavi_selected.jpg');
	background-repeat:no-repeat;
	line-height:28px;
}

#topnavi ul li a {
	line-height:28px;
	color:#8d8d8d;
	font-size:12px;
	font-weight:bold;
	font-family:'Segoe UI', 'Lucida Sans' ,Verdana,Arial, Helvetica, sans-serif,Verdana, sans-serif;
	text-decoration:none;
	padding-left:28px;
	padding-right:26px;
}

#topnavi ul li a:hover {
	line-height:28px;
	color:#8d8d8d;
	font-size:12px;
	font-weight:bold;
	font-family: 'Segoe UI', 'Lucida Sans' ,Verdana,Arial, Helvetica, sans-serif,Verdana, sans-serif;
	text-decoration:underline;
	padding-left:28px;
	padding-right:26px;
}

#topnavi ul li.selected a {
	line-height:28px;
	color:#757575;
	font-size:12px;
	font-weight:bold;
	font-family:'Segoe UI', 'Lucida Sans' ,Verdana,Arial, Helvetica, sans-serif,Verdana, sans-serif;
	text-decoration:none;
	padding-left:28px;
	padding-right:26px;
}

#topnavi ul li.selected a:hover {
	line-height:28px;
	color:#757575;
	font-size:12px;
	font-weight:bold;
	font-family:'Segoe UI', 'Lucida Sans' ,Verdana,Arial, Helvetica, sans-serif,Verdana, sans-serif;
	text-decoration:underline;
	padding-left:28px;
	padding-right:26px;
}

#bodybox {
	float:left;
	width:1050px;
	background-image:url('../img/bg_bodybox.jpg');
}
#bodyboxHome {
	float:left;
	width:1050px;
	background-image:url('../img/bodyboxHome.jpg');
}


#subnavi {
	display:inline;
	float:left;
	width:120px;
	margin-left:6px;
	margin-top:10px;
	padding-bottom:10px;
}

#subnavi ul {
	list-style-type:none;
	padding:0px;
	margin:0px;
}

#subnavi ul li {
	height:24px;
	background-image:url('../img/button_subnavi.jpg');
	background-repeat:no-repeat;
	line-height:24px;
	margin-left:22px;
	width:181px;
}

#subnavi ul li a {
	font-family:'Segoe UI', 'Lucida Sans' ,Verdana,Arial, Helvetica, sans-serif,Verdana, sans-serif;
	font-size:11px;
	color:#8d8d8d;
	text-decoration:none;
	padding-left:10px;
}

#subnavi ul li a:hover {
	font-family:'Segoe UI', 'Lucida Sans' ,Verdana,Arial, Helvetica, sans-serif,Verdana, sans-serif;
	font-size:11px;
	color:#8d8d8d;
	text-decoration:underline;
	padding-left:10px;
}

#subnavi ul li a.selected {
	font-family:'Segoe UI', 'Lucida Sans' ,Verdana,Arial, Helvetica, sans-serif,Verdana, sans-serif;
	font-size:11px;
	color:#5baeae;
	text-decoration:none;
	padding-left:10px;
}

#subnavi ul li a.selected:hover {
	font-family:'Segoe UI', 'Lucida Sans' ,Verdana,Arial, Helvetica, sans-serif,Verdana, sans-serif;
	font-size:11px;
	color:#5baeae;
	text-decoration:underline;
	padding-left:10px;
}
#contentHome {
	display:inline;
	float:left;
	width:978px;
	margin-right:10px;
	margin-left:10px;
	margin-top:10px;
	padding-bottom:10px;
}
.banner_bg{width:1000px; margin:10px; padding:0px 10px 0px 10px; background:#2fa0ca; 
           filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2fa0ca',endColorstr='#04426c');
 background:-webkit-gradient(linear,left top,left bottom,from(#2fa0ca),to(#04426c));
 background:-moz-linear-gradient(top,#2fa0ca,#04426c);border:1px solid #2fa0ca;}
.left{
    float:left;
}
.clr{clear:both}
.right_pannel {
    padding: 20px 30px 0px 0px;
    float: right;
    width: 275px;
}
.right_pannel h1{
    color:white;font-weight:bold;font-size:22px;
}
.justify22{text-align:justify; line-height:22px}
.td{color:white;font-weight:bold;font-size:14px;}
/*.submit_bg{width:55px; height:30px; background:url(../img/submit.jpg) no-repeat; cursor:pointer; border:0px; }*/
/*.save-button
{background:#1972ac;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#277fb9',endColorstr='#04426c');
 background:-webkit-gradient(linear,left top,left bottom,from(#277fb9),to(#04426c));
 background:-moz-linear-gradient(top,#277fb9,#04426c);float:left;
 width:90px;white-space:nowrap;margin-left:13px;height:25px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
 font-size:12px;color:#fff;font-weight:bold;padding:2px 12px 0 12px;_cursor:hand;
 cursor:pointer;border:0px;}*/
.save-button
{background:#ffffff;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#c7caca');
 background:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#c7caca));
 background:-moz-linear-gradient(top,#ffffff,#c7caca);float:left;
 width:90px;white-space:nowrap;margin-left:13px;height:25px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
 font-size:12px;color:#04426c;font-weight:bold;padding:2px 12px 0 12px;_cursor:hand;
 cursor:pointer;border:0px;}
.text_field{width:125px; height:20px; padding:2px; border:1px solid #2fa0ca; background:#ffffe4}
