﻿.ModalPopBg
{
    background-color:#666699;
    filter: alpha(opacity=50);
    opacity: 0.7;
    border-radius: 12px;
}

.MyPopUp
{
    min-width: 750px;
    min-height: 150px;
    background: white;
}
.modalPopup
{
        background-color: #FFFFFF;
        border: 3px solid #0DA9D0;
        border-radius: 32px;
        padding:0
}