﻿@charset "utf-8";

/*---------- CSS RESET -----------*/
*{padding:0; margin:0;
}
body{
padding:0px; margin:0px;
background:#fff;
font:normal 13px/19px Arial, Helvetica, sans-serif;
color:#435061;
}
div, p, h1, h2, h3, h4, h5, span, form, input, select, label, text-area, a, img, fieldset, dl, dd, dt{ margin:0px; padding:0px;}
/*img a{border:none; outline:none;}*/
a{text-decoration:none; padding:0; margin:0;}

.clear{
	line-height:0px;
	font-size:0px;
	clear:both;
	border:0;
	}
@font-face {
    font-family: 'FuturaBdCnBTBold';
    src: url('futurabc-webfont.eot');
    src: url('futurabc-webfont.eot?#iefix') format('embedded-opentype'),
         url('futurabc-webfont.woff') format('woff'),
         url('futurabc-webfont.ttf') format('truetype'),
         url('futurabc-webfont.svg#FuturaBdCnBTBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*--------------------- General Css End ----------------------*/
.page-wrapper{
	width:960px;
	margin:0 auto;
	overflow:hidden;
	}
.logo{
	float:left;
	padding-top:24px;
	}
.topright{
	float:right;
	padding-top:45px;
	}
/*..................Tob Navigatipon css.........................*/
.page-wrapper-nav{
	width:960px;
	margin:0 auto;
	
	}
.nav-sec{
	width:100%;
	height:38px;
	background:#1781a4;
	margin-top:10px;
	margin-bottom:10px;
	}
#nav{ 
	margin:0; 
	padding:0; 
	list-style:none; 
	position:relative; 
	}
#nav li{ 
	float:left; 
	position:relative; 
	padding:0; 
	margin-right:1px;
	}
#nav li a{	
	font:bold 13px/38px Arial, Helvetica, sans-serif;
	color:#fff;	
	text-decoration:none; 
	padding:0 12px;
	display:block;	
	}
#nav li a:hover, #nav li a.active{ 	
	color:#fff;
	background:#105273;	}
#nav ul li.nobg{
	background:none;
	}	
#nav li:first-child{
	background:none;
	}	
#nav li ul{	
	position:absolute; 	
	visibility:hidden;	
	padding:0px; 
	margin:2px 0 0 0;	
	list-style:none; 
	top:38px; 
	left:0px; 
	z-index:101;}
#nav li ul li{ 	
	background:#105273;	
	/*background:#ff1212;*/
	float:none;	
	/*margin-bottom:1px;*/	
	border-bottom:#fff 1px solid;}
#nav li ul li:last-child{
		border-bottom:none;
}
#nav li ul li a{ 
	font-family: 'Swis721LtCnBTLight';	
	font-size:17px;	
	color:#ffffff;	
	line-height:36px; 
	text-align:left; 
	text-decoration:none;
	display:block; 
	padding:0 15px;	
	width:140px;}
#nav li ul li a:hover{ 	
	background:#669999;	
	color:#fff; 
	width:140px;}

/*---------------------------------- Top Navigation CSS end ------------------------*/
.header-banner{
	margin-bottom:26px;
	}
.body-section{
	padding-bottom:35px;
	overflow:hidden;
	min-height:330px;
	}
.body-section h2{
	font:normal 27px/33px Arial, Helvetica, sans-serif;
	color:#004f84;
	padding-bottom:25px;
}
.body-section h3{
	font:normal 22px/25px Arial, Helvetica, sans-serif;
	color:#004f84;
	padding-bottom:3px;
}

.body-left{
	width:245px;
	float:left;
	overflow:hidden;
	}
.item-content{
	padding:10px 20px ;
	background:#e6f4f6;
	margin-bottom:14px;
	}
.event{
	padding-bottom:6px;
	overflow:hidden;
	}
.event p{
	font:normal 13px/18px Arial, Helvetica, sans-serif;
	color:#435061;
	}
.event h3{
	font:bold 13px/18px Arial, Helvetica, sans-serif;
	color:#214471;
	font-style:italic;
	padding-bottom:2px;
	}
.event h5 a{
	font:bold 11px/17px Arial, Helvetica, sans-serif;
	color:#145f90;
	text-decoration:none;
	}
.event h5 a:hover{
	color:#000;
	}
.edition-journal a{
		background:url(../images/edition-journal.jpg) 0 0 no-repeat;
		width:245px; height:85px;
		text-decoration:none;
		text-indent:-9000px;
		display:block;
		margin-bottom:15px;
		}
.edition-journal a:hover{
		background:url(../images/edition-journal.jpg) 0 100% no-repeat;
}
.archive-journal a{
		background:url(../images/archive-journal.jpg) 0 0 no-repeat;
		width:245px; height:85px;
		text-decoration:none;
		text-indent:-9000px;
		display:block;
		margin-bottom:15px;
		}
.archive-journal a:hover{
		background:url(../images/archive-journal.jpg) 0 100% no-repeat;
}
		
.body-middle{
	width:425px;
	float:left;
	padding-left:24px;
	overflow:hidden;
	}
.welcome-sec{
	padding-bottom:27px;
	overflow:hidden;
	}
.welcome-sec h2{
	font:normal 27px/33px Arial, Helvetica, sans-serif;
	color:#004f84;
	padding-bottom:10px;
	}
.welcome-sec h2 span{
	font:normal 19px/22px Arial, Helvetica, sans-serif;
	color:#1796a4;
	text-transform:uppercase;
	display:block;
	}
.welcome-sec p{
	font:normal 12px/17px Arial, Helvetica, sans-serif;
	color:#3b3b3b;
	}
.welcome-sec p img{
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	}
.contact-sec{
	background:#daf0f4;
	padding-bottom:20px;
	margin-bottom:18px;
	}
.latest-statistics{
		background:url(../images/latest-statistics.png) 0 0 no-repeat;
		display:block;
}
.latest-statistics a{
		text-decoration:none;
		color:#e6f4f6;
		text-transform:uppercase;
		font-family: 'FuturaBdCnBTBold';
		font-size:32px;
		line-height:90px;
		padding:0 0 0 22px;
		
}
.latest-statistics a:hover{
		color:#b9dbe1;
}
.item-head1{
	display:block;
	background:#1796a4;
	height:42px;
	padding-left:20px;
	font:bold 16px/42px Arial, Helvetica, sans-serif;
	color:#fff;
	}
.contact-sec .content{
	padding:20px 0px 15px 15px;
	overflow:hidden;
	}
.contact-sec .content p{
	font:bold 13px/23px Arial, Helvetica, sans-serif;
	color:#000;
	}
.contact-sec .content p span{
	color:#145f90;
	}
.contact-sec .content p span a{
	text-decoration:none;
	color:#145f90 !important;
	}
.contact-sec .content p span a:hover{
	color:#000 !important;
	}
.contact-sec .content p a{
	text-decoration:none;
	color:#000;
	}
.contact-sec .content p a:hover{
	color:#145f90;
	}
.map-button a{
	padding:14px 20px;
	background:#1796a4;
	font:bold 13px/28px Arial, Helvetica, sans-serif;
	color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;
	margin-left:15px;
	}
.map-button a:hover{
	background:#145f90;
	}
.body-right{
	width:245px;
	float:right;
	overflow:hidden;
	}
.item-content1{
	background:#d8d6ae url(../images/university-old-building.jpg) left bottom no-repeat;
	margin-bottom:11px;
	padding-top:20px;
	}
.item-text{
	padding:0 20px 170px 20px;
	font:normal 13px/15px Arial, Helvetica, sans-serif;
	color:#000;
	}
.item-text span a{
	font:bold 11px/17px Arial, Helvetica, sans-serif;
	color:#3f2c18;
	text-decoration:none;
	}
.item-text span a:hover{
	color:#000;
	}	
.item-content2{
	padding:20px 15px;
	background:#e6f4f6;
	margin-bottom:11px;
	}
.item-head{
	display:block;
	background:#145f90;
	height:40px;
	padding-left:20px;
	font:bold 16px/40px Arial, Helvetica, sans-serif;
	color:#fff;
	}
	
.banner-margin{
	margin-bottom:16px;
	}
/*---------------------------------- Footer Section Css ---------------------------*/
.footer-section{
	width:100%;
	background:#d6d6d5;
	padding:35px 0;
	text-align:center;
	}
.copyright{
	text-align:center;
	font:normal  12px/28px Arial, Helvetica, sans-serif;
	color:#565655;
	}
.footer-link{
	width:690px;
	margin:0 auto;
	overflow:hidden;
	border:#ff0000 0px solid;
	}
.footer-link ul{
	list-style:none;
	padding:0;
	margin:0 auto;
	}
.footer-link ul li{
	background:url(../images/footer-devider.gif) 0 50% no-repeat;
	float:left;
	margin:0 auto;
	}
.footer-link ul li a{
	text-decoration:none;
	color:#000;
	font:bold 13px/28px Arial, Helvetica, sans-serif;
	padding:0 10px;
	}
.footer-link ul li a:hover .footer-link ul li a.factive{
	color:#565655;
	}
.footer-link ul li:first-child{
	background:none;
	}
	
/*------------------ inner page html ---------------*/
.event-sec{
	margin-bottom:20px;
	overflow:hidden;
	border-bottom:#ccc 1px solid;
	padding-bottom:10px;		
}
.faculty-sec
{
    margin-bottom:20px;
	overflow:hidden;
	border-bottom:#ccc 1px solid;
	padding-bottom:10px;
	padding-left:100px;	
}
.event-sec-img{
		float:left;
		width:25%;
		overflow:hidden;
}
.faculty-sec-img{
		float:left;
		width:150px;
		overflow:hidden;
		padding-left:150px;		
}
.event-sec-img img{
	padding:2px;
	border:#ccc 1px solid;
}
.faculty-sec-img img{
	padding:2px;
	border:#ccc 1px solid;
}
.event-sec-con{
		padding-left:15px;
		float:left;
		width:70%;
}
.faculty-sec-con{
		padding-left:30px;
		float:left;
		width:400px;
		text-align:left;
}
.event-date{
	font:normal 14px/18px Arial, Helvetica, sans-serif;
	color:#1796a4;	
	}
.Contact
{
    width:400px;
    margin-left:6px;
    text-align:justify;
    float:left;
    font:14px/24px Segoe UI,'Lucida Grande', Tahoma, Verdana, Arial, Sans-serif;
}
.map
{
    float: right;
    width: 500px;
    height: 350px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #006600;
}
/*Holiday List*/
#calendar-container{
	width:200px;
	padding:5px;
	border:1px solid #bcbcbc;
	margin:0 auto;
	background-color:#cccccc;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
}

.nav-container{
	padding:5px;
}

.nav-container span{display:inline-block; text-align:left; padding-right:5px; border-right:1px solid #828282; margin-right:0px; text-shadow: 1px 1px 1px #ffffff; font-weight:bold;}
.nav-container span.last{padding-right:0px; border-right:none; margin-right:0px;}

.data-container{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

#selectYear{width:70px;}
#selectMonth{width:70px;font-size:16px;}

.data-container ul{margin:0px; padding:0px;}
.data-container ul li{ list-style:none; padding:5px;}
.data-container ul li.list-header{border-bottom:1px solid #bebebe; border-right:1px solid #bebebe; background-color:#eae9e9; -webkit-border-radius: .2em .2em 0 0; -moz-border-radius: .2em .2em 0 0; border-radius: .3em .3em 0 0; background:-moz-linear-gradient(center top , #eae9e9, #d0d0d0) repeat scroll 0 0 transparent; margin-top:5px; text-shadow: 1px 1px 1px #ffffff;}
.data-container ul li.padding-left-10px {background-color:#EEEEEE; border-bottom:1px solid #BEBEBE; border-right:1px solid #BEBEBE; font-size:12px;}

/* button 
---------------------------------------------- */
.button {
	font-size: 10px;
	font-weight: 400;
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: bottom;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px #555555;
	padding: 0px 5px 3px 5px;
	-webkit-border-radius: .2em; 
	-moz-border-radius: .2em;
	border-radius: .2em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

select{
	-webkit-border-radius: .2em .2em .2em .2em; 
	-moz-border-radius: .2em .2em .2em .2em;
	border-radius: .2em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	padding:5px;
	font-size:16px;
	border:1px solid #4b4b4b;
}
 
/* color styles 
---------------------------------------------- */
.gray {
	color: #e9e9e9;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.gray:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.gray:active {
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}

.grayDis{
	color: #999999;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}

.nav{
	width:960px;
	height:38px;
	float:left;
	border:#ff0000 0px solid;
	}
.inner-nav{
	width:960px;
	height:38px;
	float:left;
	border:#ff0000 0px solid;
	padding-bottom:20px;
	}
/*------------------------------------------------------- Faculty Css-----------------------------------------------------------------*/	
.faculty-button
{
    margin-top:0px;
    width:960px;
	height:auto;
	margin-left:15px;
	
}

	.faculty-heading
{
    margin-top:20px;
    width:960px;
	height:35px;
	padding-top:4px;
	background-color:#3b5998;
	margin-left:15px;
	font:normal 24px/28px Arial, Helvetica, sans-serif;
	color:#E6F5F5;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.faculty-body
{
    margin-top:1px;
    width:960px;
	height:auto;
	background-color:#ebeef4;
	margin-left:15px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-bottom:1px solid #3b5998;
	
}



.faculty-body-left
{
    padding-top:15px;
    padding-bottom:15px;
    margin-left:20px;
    width:530px;
	height:150px;
	float:left;
}



.faculty-body-right
{
    padding-top:15px;
    padding-bottom:15px;
    margin-left:20px;
    width:200px;
	height:152px;
    overflow:hidden;
}



.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #637aad), color-stop(1, #5972a7));
	background:-moz-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-webkit-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-o-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-ms-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#637aad', endColorstr='#5972a7',GradientType=0);
	background-color:#637aad;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5972a7), color-stop(1, #637aad));
	background:-moz-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-webkit-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-o-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-ms-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5972a7', endColorstr='#637aad',GradientType=0);
	background-color:#5972a7;
}
.myButton:active {
	position:relative;
	top:1px;
}

/*-------------------------------------------------- End Faculty Css----------------------------------------------------------------*/

/*-------------------------------------------------- Faculty Login css------------------------------------------------------------*/

.faculty-login
{
    margin-top:50px;
    margin-left:240px;
    margin-bottom:50px;
    width:450px;
	height:250px;
}

.inputbox2
	{
	border: 1px solid #cbc7c7;
	font-size: 13px;
	font-weight: normal;
	color: #242424;
	background: #fff;
	-moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
	-webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
	box-shadow: inset 0.9px 1px 3px #e4e4e4;
	width: 200px;
	height:30px;
	padding: 3px;
	font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
	margin: 3px 0
}

/*-------------------------------------------------- End Faculty Login css------------------------------------------------------------*/

/*-------------------------------------------------- Academic css------------------------------------------------------------*/

.academic
{
    font: 14px/24px Segoe UI,'Lucida Grande', Tahoma, Verdana, Arial, Sans-serif;
    text-align:justify;
}

/*-------------------------------------------------- Faculty Profule ------------------------------------------------------------*/

.faculty-body_profile
{
    margin-top:0px;
    width:100%;
	height:auto;
}

.faculty-body_profile_top
{
    width:100%;  
    margin-left:0px; 
    margin-top:0px; 
    height:7%; 
    font: 18px/28px Segoe UI,'Lucida Grande', Tahoma, Verdana, Arial, Sans-serif;
    font-weight:bold;
    color:#F8F8F8;
    padding-top:3px;
    padding-left:20px;
    background-color:#3366CC;
    border-radius:6px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #3366CC;
	
}

.faculty-body-right_profile
{
    
    margin-top:2px;   

    margin-left:2px;
    width:200px;
	height:152px;
    overflow:hidden;
    float:right;
}

.faculty-body-left_profile
{
    padding-top:15px;
    padding-bottom:15px;
    font: 13px/23px Segoe UI,'Lucida Grande', Tahoma, Verdana, Arial, Sans-serif;
    font-weight:bold;
    text-align:justify;
    margin-left:10px;
    width:548px;
	height:150px;
	float:left;
}

.linkCss
{
    text-align:center;
    font: 16px/26px Segoe UI,'Lucida Grande', Tahoma, Verdana, Arial, Sans-serif;
    font-weight:bold;
    color:#E0F8F7;
}


.mainRight
{
    width:78%; 
    height:94%; 
    overflow:auto;
    margin-left:7px; 
    background-color:#E0F8F7; 
    float:left;
    border-radius:6px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #3b5998;
}



