content-overlay/*
	Minimaxing 3.1 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/
 
/*********************************************************************************/
/* Global                                                                        */
/*********************************************************************************/

/* Basic */

	*,*:before,*:after{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;-o-box-sizing:content-box;-ms-box-sizing:content-box;box-sizing:content-box}

	body {
		font-size: 13px;
		font-family: sans-serif;
	/*	background-color: #e3e9dc; */
	    background-color: #ffffff;
        font-family: Segoe UI;
		/*font-family: 'Ubuntu Condensed', sans-serif;*/
		/*color: #878e83;*/
		letter-spacing: -1px;
	}

	h1,h2,h3,h4 {
		color: #007897;
		font-weight: normal;
	}

	h1 {
		text-transform: uppercase;
	}
	h2 {
		text-transform: uppercase;
	}

	h2 {
		font-size: 1.6em;
		letter-spacing: -1px;
		margin-bottom: 1em;
	}

	h3,h4 {
		color: #283121;
		margin-bottom: 1.5em;
	}

	h3 {
		font-size: 1.2em;
		margin-bottom: 0.8em;
	}

	h4 {
		font-size: 1em;
		line-height:25px;
		text-align:justify;
	}

	p, ul {
		margin-bottom: 1.25em;
	}

	p {
		line-height: 1.8em;
	}

	strong {
		color: #474e43;
	}

	img.left {
		float: left;
		margin: 2px 1.25em 0 0;
	}

	img.top {
		margin: 4px 0 2.25em 0;
	}

	ul {
		padding: 0.25em 0 0 0;
	}

	a {
		color: #5d93a2;
		text-decoration: underline;
	}

	a:hover {
		text-decoration: none;
	}

	* > p:last-child {
		margin-bottom: 0 !important;
	}

/* Reusable */

	article.blog-post {
		position: relative;
	}

		article.blog-post .comments {
			position: absolute;
			top: 0;
			right: 0;
			height: 32px;
			line-height: 24px;
			padding-left: 40px;
			background: url('images/icon-bubble.png') no-repeat;
		}

	ul.small-image-list {
	}

		ul.small-image-list li {
			overflow: hidden;
			margin-bottom: 1.5em;
		}

	ul.big-image-list {
	}

		ul.big-image-list li {
			overflow: hidden;
			margin-bottom: 2em;
		}

	ul.link-list {
	}

		ul.link-list li {
			border-top: solid 1px #ced0b7;
			padding: 0.75em 0 0 0;
			margin: 0.75em 0 0 0;
		}
		
		ul.link-list li:first-child {
			padding-top: 0;
			margin-top: 0;
			border-top: 0;
		}

	.button {
		display: inline-block;
		padding: 15px 25px 15px 25px;
		background-color: #007b9d;
		background-image: -moz-linear-gradient(top, #008dad, #007b9d);
		background-image: -webkit-linear-gradient(top, #008dad, #007b9d);
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#008dad), to(#007b9d));
		background-image: -ms-linear-gradient(top, #008dad, #007b9d);
		background-image: -o-linear-gradient(top, #008dad, #007b9d);
		background-image: linear-gradient(top, #008dad, #007b9d);
		border-radius: 10px;
		text-transform: lowercase;
		text-decoration: none;
		color: #fff;
		font-size: 1.2em;
		letter-spacing: -1px;
		border: solid 1px #006e8b;
		box-shadow: inset 0px 0px 0px 1px #18a8c8;
	}

	.button:hover {
		background-color: #118eb1;
		background-image: -moz-linear-gradient(top, #1b9fbe, #118eb1);
		background-image: -webkit-linear-gradient(top, #1b9fbe, #118eb1);
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1b9fbe), to(#118eb1));
		background-image: -ms-linear-gradient(top, #1b9fbe, #118eb1);
		background-image: -o-linear-gradient(top, #1b9fbe, #118eb1);
		background-image: linear-gradient(top, #1b9fbe, #118eb1);
		box-shadow: inset 0px 0px 0px 1px #3ecceb;
	}
	
	
	
 	
	.textbox { 
        border: 1px solid #c4c4c4; 
        height: 15px; 
        width: 210px; 
        font-size: 13px; 
        padding: 4px 4px 4px 4px; 
        border-radius: 4px; 
        -moz-border-radius: 4px; 
        -webkit-border-radius: 4px; 
        box-shadow: 0px 0px 8px #d9d9d9; 
        -moz-box-shadow: 0px 0px 8px #d9d9d9; 
        -webkit-box-shadow: 0px 0px 8px #d9d9d9; 
} 
 
.textbox:focus { 
    outline: none; 
    border: 1px solid #7bc1f7; 
    box-shadow: 0px 0px 8px #7bc1f7; 
    -moz-box-shadow: 0px 0px 8px #7bc1f7; 
    -webkit-box-shadow: 0px 0px 8px #7bc1f7; 
    
} 
    
   .Btnclassname {
	box-shadow:inset 0px 0px 0px 0px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#2CAFE3);
	background-color:#49c0f0;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;

 background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
 background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);

	border:1px solid #15aeec; 
	display:inline-block;
	font-weight:bold; 
    color: #FFFFFF;
    font-size:12px;
	height:20px;
	width:80px;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);


 }
.Btnclassname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
}.Btnclassname:active {
	position:relative;
	top:1px;
}



.headFont
{
    font-family: Segoe UI;
    font-size: 13px;
    color: #003366;
    font-weight:normal;
}

.require
{

    color: #FF0000;
	font-size: 11px;
    
}

.labelCaption
{
	font-family:Segoe UI;
	font-size:11px;	
	color:Navy;
	text-align:left;	
}
.labelCaption2
{
	font-family:Segoe UI;
	font-size:11px;	
	color:Navy;
	text-align:left;
	width:150px;	
}

.labelCaption3
{
	font-family:Segoe UI;
	font-size:11px;	
	color:Navy;
	text-align:left;
	width:30px;	
}

.TableHeader
{
    font-family: Segoe UI;
    height:15px;
    font-size: 14px;
    font-weight:bold;
    color: White;
    text-align: center;
    background-color: #44A9FB;
    border: solid 1px white;
}

.prod-det-tab-out_main {
    font-size: 13px;
    margin-bottom: -1px;
    overflow: hidden;
}

.loading-overlay,.verfication-overlay,.content-overlay {
	background: url(../images/overlay.png);
	height: 100%;
	left: 0;
	position: fixed;
	_position: absolute;
	_height: 1020px;
	top: 0;
	width: 100%;
	z-index: 1200 !important; 
	display: none;
}

.loadwrapper {
        width: 960px;
        margin: 0 auto;
        position: relative;
}

.Indexing {
    z-index: 1200 !important;
    position: fixed;
	_position: absolute; 
}

.ajax-loader-outer {
	background: #fff url(../images/ajax-loader_new.gif) no-repeat 5px 5px;
	margin: 291px auto 0 auto;
	width: 68px;
	border: 1px solid #e7e7e7;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 15px 0 12px 46px;
	font-size: 13px;
	color: #000;
	font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
	height: 15px;
	-moz-box-shadow: 2px 2px 3px #C2C2C2;
	-webkit-box-shadow: 2px 2px 3px #C2C2C2;
	box-shadow: 2px 2px 3px #C2C2C2;
}
.wrapper-inner
{
    background: url(../images/page-overlay.png);
    margin: 35px auto 0 auto;
    width: 670px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 8px;
}
.loadContent
{
    background: white;
    padding: 9px 9px 0 9px;
    border: 1px solid #CACACA;
    _width: 650px;
}
.close-content
{
    background: url(../images/close.png?v=1) no-repeat right top;
    margin: -4px 0 0 -21px;
    cursor: pointer;
    font-size: 13px;
    width: 80px;
    height: 20px;
    padding-top: 3px;
    text-align: right;
    float:right;
    padding-right: 25px;
    font: 13px/19px Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
    color:red;
    font-weight: bold;
    }
.divCaption
{
     font: 13px/19px Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
     color:Navy;
     font-weight: bold;
     text-align:center;
     /*width: 98%;*/
}
.wrapper-outer
{
    margin: 0 auto;
    width: 670px;
    height: 100%;
    overflow-y: auto;
    padding: 15px 0;
}
.web_dialog_overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   background: #000000;
   opacity: 0.15;
   filter: alpha(opacity=15);
   -moz-opacity: 0.15;
   z-index: 101;
   display: none;
}
.web_dialog
{
   display: none;
   position: absolute;
   width: 650px;
   height: 180px;
   top: 50%;
   left: 50%;
   margin-left: -300px;
   margin-top: -100px;
   background-color: #ffffff;
   border: 2px solid #336699;
   padding: 0px;
   z-index: 102;
   font-family: Verdana;
   font-size: 10pt;
}
.web_dialog1
{
   display: none;
   position: absolute;
   width: 850px;
   height: 180px;
   top: 50%;
   left: 35%;
   margin-left: -190px;
   margin-top: -100px;
   background-color: #ffffff;
   border: 2px solid #336699;
   padding: 0px;
   z-index: 102;
   font-family: Verdana;
   font-size: 10pt;
}
.web_dialog_title
{
   border-bottom: solid 2px #336699;
   background-color: #deedf7;
   padding: 4px;
   color: Black;
   font-weight:bold;
}
.web_dialog_title a
{
   color: Black;
   text-decoration: none;
}
.align_right
{
   text-align: right;
}
.background
{
background: url(../css/images/ui-bg_glass_80_d7ebf9_1x400.png);
/*background-color: #deedf7;*/ 
width: 100%; 
border: 8px solid #deedf7; 
font-weight: bold;
}
.UpperCase
{
    text-transform:uppercase;
}
/*-------------------------------------------------------------*/
.web_dialog_overlay12
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   background: #000000;
   opacity: 0.15;
   filter: alpha(opacity=15);
   -moz-opacity: 0.15;
   z-index: 1010;
   display: none; 
}
.web_dialog12
{
   display: none;
   position: fixed;
   width: 800px;
   height: 450px;
   top: 50%;
   left: 50%;
   margin-left: -190px;
   margin-top: -100px;
   background-color: #ffffff;
   border: 2px solid #336699;
   padding: 0px;
   z-index: 1020;
   font-family: Verdana;
   font-size: 10pt;
}
.web_dialog_title12
{
   border-bottom: solid 2px #336699;
   background-color: #deedf7;
   padding: 4px;
   color: Black;
   font-weight:bold;
}
.web_dialog_title12 a
{
   color: Black;
   text-decoration: none;
}
.align_right12
{
   text-align: right;
}
.msg_button_class
{
    background-image: url(../images/msg_button_1.jpg);
    font-family: Tahoma;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    border: 1px solid #DDDDDD;
    height: 22px;
}
/*-------------------------------------------------------------*/
                    /*For UpdateDaHraMa.aspx Page*/ 
/*-------------------------------------------------------------*/
.content-overlayforUpdateDaHraMa {
	background: url(../images/overlay.png);
	height: 100%;
	left: 0;
	position: fixed;
	_position: absolute;
	_height: 1020px;
	top: 0;
	width: 100%;
	z-index: 1200 !important; 
	display: none;
}
.wrapper-outerforUpdateDaHraMa
{
    margin: 0 auto;
    width: 1000px;
    height: 100%;
    overflow-y: auto;
    padding: 15px 0;
}
.wrapper-innerforUpdateDaHraMa
{
    background: url(../images/page-overlay.png);
    margin: 35px auto 0 auto;
    width: 1000px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 8px;
}
.loadContentforUpdateDaHraMa
{
    background: white;
    padding: 9px 9px 9px 9px;
    border: 1px solid #CACACA;
    _width: 650px;
}
.close-contentforUpdateDaHraMa
{
    background: url(../images/close.png?v=1) no-repeat right top;
    margin: -4px 0 0 -21px;
    cursor: pointer;
    font-size: 13px;
    width: 80px;
    height: 20px;
    padding-top: 3px;
    text-align: right;
    float:right;
    padding-right: 25px;
    font: 13px/19px Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
    color:red;
    font-weight: bold;
    }
/*-------------------------------------------------------------*/
                    /*For UpdateDaHraMa.aspx Page*/ 
/*-------------------------------------------------------------*/

