﻿<%@ Page Title="" Language="C#" MasterPageFile="~/KMDAMaster.master" AutoEventWireup="true" ViewStateEncryptionMode="Always" CodeFile="AllReportinExcel.aspx.cs" Inherits="AllReportinExcel" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ScriptHead" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder_Menu" Runat="Server">

    <script>
        //$(document).ready(function () {
        //    window.open('data:application/vnd.ms-excel,' + $('#dvData').html());
        //    e.preventDefault();
        //});
    </script>

</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="Cont1" Runat="Server">
    <asp:PlaceHolder ID="PlaceHolder1" runat="server" ClientIDMode="Static"></asp:PlaceHolder>
    <div id="dvData" runat="server" clientidmode="Static">
        <table id="myTable" runat="server"></table>
    </div>
</asp:Content>

