<div style="position:fixed;height:100%;width:100%;top:0px;left:0px;background-color:#000000;filter:alpha(opacity=55);-moz-opacity:.55;opacity:.55;z-index:50;" id="pagedimmer">&nbsp;</div>

<div style="position:fixed;background-color:#888888; border:1px solid #999999; z-index:50; left:30%; right:30%; top:30%;" id="msgbox">
  <div style="margin:5px;">
    <table width="100%" style="background-color:#FFFFFF; border:1px solid #FFFFFF;">
      <tr>
        <td colspan="2" style="font-family:tahoma; font-size:13px; font-weight:bold; padding-left:5px; padding-top:10px; background-image: url(images/msg_title_1.jpg); color:#FFFFFF; height:22px;">[TITLE]</td>
      </tr>
      <tr>
        <td style="width:100px; text-align:center;">[ICON]</td>
        <td style="font-family:tahoma;vertical-align: middle; color:#888888; font-weight: bold;">[MESSAGE]</td>
      </tr>
      <tr>
        <td colspan="2" style="border-top:1px solid #CCCCCC; padding-top:5px;text-align:right;">[BUTTONS]</td>
      </tr>
    </table>
  </div>
</div>