﻿<%@ Page Title="" Language="C#" MasterPageFile="~/KMDAMaster.master" AutoEventWireup="true" ViewStateEncryptionMode="Always" CodeFile="PTaxMaster.aspx.cs" Inherits="PTaxMaster" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <script type="text/javascript">
        function beforeSave() {
            $("#form1").validate();
            $("#txtSalFrom").rules("add", { required: true, messages: { required: "Please enter Salary From"} });
            $("#txtSalTo").rules("add", { required: true, messages: { required: "Please enter Salary To"} });
            $("#txtPTax").rules("add", { required: true, messages: { required: "Please enter PTax "} });
        }
        function Delete() {
            if (confirm("Are You sure you want to delete?")) {
                $("#form1").validate().currentForm = '';
                return true;
            } else {
                return false;
            }
        }
        function unvalidate() {
            $("#form1").validate().currentForm = '';
            return true;
        }
</script>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="Cont1" Runat="Server">
    <div id="main">
			<div class="container">
				<div class="row main-row">
					<div class="12u">
						<section>
							<h2>PTax Master</h2>						
						</section>
                    <table width="98%"   style="border:solid 2px lightblue;  "  >
                    <tr>
                        <td style="padding:15px;">
                            <asp:FormView ID="dv" runat="server" Width="99%" AutoGenerateRows="False" OnModeChanging="dv_ModeChanging"                            
                                DefaultMode="Insert" HorizontalAlign="Center" GridLines="None" >
                            <InsertItemTemplate>
                                <table align="center" width="100%">
                                    <tr>
                                        <td style="padding:5px;" ><span class="headFont">Salary From &nbsp;&nbsp;</span><span class="require">*</span> </td>
                                        <td style="padding:5px;" >:</td>
                                        <td style="padding:5px;" align="left" >
                                            <asp:TextBox ID="txtSalFrom" ClientIDMode="Static" autocomplete="off" runat="server" CssClass="textbox" MaxLength="10"></asp:TextBox>                            
                                        </td>
                                        <td style="padding:5px;"><span class="headFont">Salary To&nbsp;&nbsp;</span><span class="require">*</span> </td>
                                        <td style="padding:5px;">:</td>
                                       <td style="padding:5px;" align="left" >
                                            <asp:TextBox ID="txtSalTo" ClientIDMode="Static" autocomplete="off" runat="server" CssClass="textbox" MaxLength="10"></asp:TextBox>                            
                                        </td>

                                    </tr>
                                    <tr>
                                        <td style="padding:5px;" ><span class="headFont">P.Tax &nbsp;&nbsp;</span><span class="require">*</span> </td>
                                        <td style="padding:5px;" >:</td>
                                        <td style="padding:5px;" align="left" > 
                                            <asp:TextBox ID="txtPTax" ClientIDMode="Static" autocomplete="off" runat="server" CssClass="textbox" MaxLength="4"></asp:TextBox>                            
                                        </td>
                                        </tr>
                                   
                                </table>
                            </InsertItemTemplate>

                            <EditItemTemplate>
                                <table align="center"  width="100%">
                                    <tr>
                                        <td style="padding:10px;"> <span class="headFont">Salary From&nbsp;&nbsp;</span><span class="require">*</span> </td>
                                        <td style="padding:10px;">:</td>
                                        <td style="padding:10px;" align="left" >
                                            <asp:TextBox ID="txtSalFrom" autocomplete="off" Text='<%# Eval("SalFrom") %>' ClientIDMode="Static" runat="server" CssClass="textbox" MaxLength="10" ></asp:TextBox>                            
                                            <%--<asp:HiddenField ID="hdnID" runat="server" Value='<%# Eval("PTaxID") %>'/>--%>
                                        </td>
                                        <td style="padding:5px;"><span class="headFont">Salary To&nbsp;&nbsp;</span><span class="require">*</span> </td>
                                        <td style="padding:10px;">:</td>
                                        <td style="padding:10px;" align="left" >
                                            <asp:TextBox ID="txtSalTo" autocomplete="off" Text='<%# Eval("SalTo") %>' ClientIDMode="Static" runat="server" CssClass="textbox" MaxLength="10"></asp:TextBox>                            
                                           
                                        </td>
                                        
                                    </tr>
                                     <tr>
                                        <td style="padding:10px;"> <span class="headFont">P.Tax&nbsp;&nbsp;</span><span class="require">*</span> </td>
                                        <td style="padding:10px;">:</td>
                                        <td style="padding:10px;" align="left" >
                                            <asp:TextBox ID="txtPTax" Text='<%# Eval("PTax") %>' ClientIDMode="Static" autocomplete="off" runat="server" CssClass="textbox" MaxLength="4" ></asp:TextBox>                            
                                            
                                        </td>
                                </table>
                            </EditItemTemplate>
                            <FooterTemplate>
                                <table align="center"  width="100%">
                                <tr><td colspan="4" ><hr style="border:solid 1px lightblue" /></td></tr>
                                <tr>
                                    <td style="padding:5px;" ><span class="require">*</span> indicates Mandatory Field</td>
                                    <td style="padding:5px;">&nbsp;</td>
                                    <td style="padding:5px;" align="left" >
                                    <div style="float:left;margin-left:200px;">
                                        <asp:Button ID="cmdSave" runat="server" Text="Create" CommandName="Add"  
                                        Width="100px" CssClass="Btnclassname" OnClientClick='javascript: return beforeSave();' 
                                        OnClick="cmdSave_Click" /> 
                                        <asp:Button ID="cmdCancel" runat="server" Text="Cancel"   
                                        Width="100px" CssClass="Btnclassname" OnClick="cmdCancel_Click" OnClientClick='javascript: return unvalidate();'/>
                                    </div>
                                    </td>
                                </tr>
                                </table>
                            </FooterTemplate>
                            </asp:FormView>
                    
                        </td>
                    </tr>
                    <tr><td colspan="4" ><hr style="border:solid 1px lightblue" /></td></tr>
                    <tr>
                        <td>
                            <div style="overflow-y:scroll;height:auto;width:100%">
                            <asp:GridView ID="tbl" runat="server" Width="100%" align="center" GridLines="Both" AutoGenerateColumns="false"
                                DataKeyNames="PTax" OnRowCommand="tbl_RowCommand" AllowPaging="false" >
                                <AlternatingRowStyle BackColor="Honeydew" />
                                <Columns>
                                    <asp:TemplateField>
                                    <HeaderStyle CssClass="TableHeader" />
                                        <ItemTemplate>
                                            <asp:ImageButton CommandName='Select' ImageUrl="img/Edit.jpg" OnClientClick='javascript: return unvalidate()'
                                                runat="server" ID="btnEdit" CommandArgument='<%# Eval("PTaxID") %>' />
                                        </ItemTemplate>
                                        <ItemStyle HorizontalAlign="Center" />
                                    </asp:TemplateField>
                                     <asp:TemplateField>
                                         <HeaderStyle CssClass="TableHeader" />
                                        <ItemTemplate>
                                            <asp:ImageButton CommandName='Del' ImageUrl="img/Delete.gif" runat="server" ID="btnDelete" 
                                                OnClientClick='return Delete();' 
                                            CommandArgument='<%# Eval("PTaxID") %>' />
                                        </ItemTemplate>
                                        <ItemStyle HorizontalAlign="Center" />
                                    </asp:TemplateField>
                                    <asp:BoundField DataField="PTaxID" Visible="false" ItemStyle-CssClass="labelCaption" HeaderStyle-CssClass="TableHeader" HeaderText="PTaxID" />
                                    <asp:BoundField DataField="SalFrom" ItemStyle-CssClass="labelCaption" HeaderStyle-CssClass="TableHeader" HeaderText="Salary From" />
                                    <asp:BoundField DataField="SalTo" ItemStyle-CssClass="labelCaption" HeaderStyle-CssClass="TableHeader" HeaderText="Salary To" />
                                    <asp:BoundField DataField="PTax" ItemStyle-CssClass="labelCaption" HeaderStyle-CssClass="TableHeader" HeaderText="P.Tax" />
                                    </Columns>
                            </asp:GridView> 
                            </div>
                        </td>
                    </tr>
                        </table>
					</div>
				</div>
			</div>
		</div>
</asp:Content>

