﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="HMenu.ascx.cs" Inherits="usercontrol_HMenu" %>

<div class="nav">
    <div class="ddsmoothmenu" id="smoothmenu" runat="server" clientidmode="Static">
        
    </div>
</div>
<%--<ul id="nav" runat="server">
		    <li class="nobg"><a href="Default.aspx" id="m1">Home</a></li>      
		    <li><a href="#">Academics</a></li>            
		    <li><a href="Faculty.aspx" id="m3">Faculty</a></li>            
		    <li><a href="Event.aspx" id="m4">Events</a></li>            
		    <li><a href="NoticeAnnouncement.aspx" id="m5">Notices & Announcements</a></li>             
		    <li><a href="Center.aspx" id="m6">Centers</a></li>            
		    <li><a href="ArthanitiMagazine.aspx" id="m7">Arthaniti</a></li>            
		    <li><a href="Contact.aspx" id="m8">Contacts</a></li>            
</ul>--%>
